<div class="d-flex justify-content-center">
    <form name="signUpForm" class="d-flex flex-column align-items-center py-10 mb-3 w-50" name="signupform" method="POST" action="/auth/signup">
        <h2>Заполните поля для регистрации</h2>
	    <input class="form-control mb-3" name="email" placeholder="Электронная почта" type="email" />
	    <input class="form-control mb-3" name="name" placeholder="Имя" type="text" />
	    <input class="form-control mb-3" name="password" placeholder="Пароль" type="password" />
	
	    <button class="btn btn-primary">Регистрация</button>
    </form>
</div>