<div class="d-flex justify-content-center">
    <form name="signInForm" class="d-flex flex-column align-items-center py-10 mb-3 w-50" name="signupform" method="POST" action="/auth/signin">
        <h2>Заполните поля для входа в систему</h2>
	    <input class="form-control mb-3" name="email" placeholder="Электронная почта" type="email" />
	    <input class="form-control mb-3" name="password" placeholder="Пароль" type="password" />
	
	    <button class="btn btn-primary mb-3">Вход</button>
        <p>Нет аккаунта? <a href="/auth/signup">Зарегистрируйтесь</a></p>
    </form>
</div>